NodeRed.json
[{"id":"ae4f95c5.bd074","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"70190917.107ce8","type":"ui_form","z":"ae4f95c5.bd074","name":"","label":"","group":"dc71df7f.dd622","order":0,"width":0,"height":0,"options":[{"label":"Year\t","value":"a","type":"number","required":true,"rows":null},{"label":"Status","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality\t","value":"c","type":"number","required":true,"rows":null},{"label":"Infant Deaths\t","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol\t","value":"e","type":"number","required":true,"rows":null},{"label":"Precentage Expenditure\t","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B\t","value":"g","type":"number","required":true,"rows":null},{"label":"Measles\t","value":"h","type":"number","required":true,"rows":null},{"label":"BMI\t","value":"i","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths\t","value":"j","type":"number","required":true,"rows":null},{"label":"Polio\t","value":"k","type":"number","required":true,"rows":null},{"label":"Total Expenditure\t","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria\t","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS\t","value":"n","type":"number","required":true,"rows":null},{"label":"GDP\t","value":"o","type":"number","required":true,"rows":null},{"label":"Population\t","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 years\t","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years\t","value":"r","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources\t","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling\t","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["dcc8c3bf.1d5338"]]},{"id":"dcc8c3bf.1d5338","type":"function","z":"ae4f95c5.bd074","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n//following are required to receive a token\nvar apikey=\"KKtnEm4_KmPm5jpf6LiAx01gZ0vgOJojaoWHl_XVX5i7\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["45262290.cba354"]]},{"id":"e99ec8c6.a2df48","type":"http request","z":"ae4f95c5.bd074","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/08149861-50f7-419f-8edd-97e0b7f18c23/deployments/598b8e1b-6034-4efc-9a08-0cc027d6c1de/online","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":280,"wires":[["55d2e2de.3c312c","688db5fc.6197c4"]]},{"id":"ebed71b4.9f49","type":"debug","z":"ae4f95c5.bd074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":180,"wires":[]},{"id":"688db5fc.6197c4","type":"function","z":"ae4f95c5.bd074","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["ebed71b4.9f49","552caabd.e88004"]]},{"id":"55d2e2de.3c312c","type":"debug","z":"ae4f95c5.bd074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":60,"wires":[]},{"id":"ea55460a.f233a","type":"function","z":"ae4f95c5.bd074","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"08149861-50f7-419f-8edd-97e0b7f18c23\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\",\"Status\",\n\"Adult Mortality\",\n\"Infant Deaths\",\n\"Alcohol\",\n\"Percentage Expenditure\",\n\"Hepatitis B\",\n\"Measles\",\n\"BMI\",\n\"Under-Five Deaths\",\n\"Polio\",\n\"Total Expenditure\",\n\"Diphtheria\",\n\"HIV/AIDS\",\n\"GDP\",\n\"Population\",\n\"Thinness 1-19 years\",\n\"Thinness 5-9 years\",\n\"Income Composition of Resources\",\n\"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["e99ec8c6.a2df48"]]},{"id":"45262290.cba354","type":"http request","z":"ae4f95c5.bd074","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["ea55460a.f233a"]]},{"id":"552caabd.e88004","type":"ui_text","z":"ae4f95c5.bd074","group":"dc71df7f.dd622","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":300,"wires":[]},{"id":"dc71df7f.dd622","type":"ui_group","z":"","name":"Machine Learning Model","tab":"d762309.9aa99d","order":1,"disp":true,"width":"6","collapse":false},{"id":"d762309.9aa99d","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]